body {
  background-color: rgb(115, 163, 252);
  background-image: url(images/background.png);
}

#title,
#footer {
  background-color: rgb(242, 248, 255);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  border-radius: 15px;
}

#title {
  /* padding-top: 90px; */
  height: 90px;
}

.image {
  text-align: center;
}

.image img {
  width: 400px;
  height: 150px;
}

.imagePopup img {
  width: 100%; 
  max-width: 400px;
  margin: 0px auto; 
}

.wrapper {
  max-width: 890px;
  background-color: rgb(217, 221, 221); 
  padding-top: 25px; 
  padding-bottom: 25px; 
}

#navigation {
  text-align: center;
}

a:visited {
  color: rgb(46, 43, 177);
}

a:hover {
  font-weight: bold;
}

a:active {
  text-decoration: none;
}

.jumbotron {
  background-image: url(images/eggCitySkyline5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  padding-top: .5em;
  padding-left: .5em;
}

#description {
  background-color: rgb(242, 248, 255);
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  margin-bottom: 20px;
}

#carouselExampleFade {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  margin: 20px 0px;
}


/***************************** 
        MENU PAGE 
******************************/

.menuContainer {
  justify-content: center;
  max-width: 800px;
}

.menuItem {
  text-align: center;
  margin: 10px;
  max-width: 200px;
}

.menuItemName {
  font-weight: bold;
  font-size: 1.2em;
}


/***************************** 
        CONTACT PAGE 
******************************/

form {
  text-align: center; 
}